// <div className="main-content">

    //     <h2 className='projects-head'>PROJECTS</h2>
    //     <section className='section'>
    //         <div class="d-grid gap-2 d-md-block">
    //             <Link to='/about'><button className="btns btn--outline btn--large" type="button">

    //                 FRONT END
    //             </button>
    //             </Link>
    //             <Link to='/about'><button className="btns btn--outline btn--large" type="button">

    //                 MERN
    //             </button>
    //             </Link>
    //             <Link to='/about'><button className="btns btn--outline btn--large" type="button">

    //                 FULL STACK
    //             </button>
    //             </Link>

    //         </div>
    //     </section>


    //     <section className='projects-section'>
    //         <img id='projects' src={food} alt="find me food project" />
    //         <p><strong>FIND ME FOOD</strong></p>
    //         <a href="https://unh-bootcamp-projects.github.io/project-1-group-c/" target="_blank"><p class='style'>GITHUB REPOSITORY</p></a>

    //     </section>




    /* 
    <div className="card">
        <img id='projects' src={mask} alt="maskeraid project" />
        <p><strong>MASKER-AID</strong></p>
        <div className="container">
            <a href="https://github.com/abalcs/Masker-Aid" target="_blank"><p class='style'>GITHUB REPOSITORY</p></a>
        </div>
    </div>
    <br></br>

    <div className="container-fluid text-center bg-grey">
        <div className="card2">
            <img id='projects' src={food} alt="find me food project" />
            <p><strong>FIND ME FOOD</strong></p>
            <div className="container">
                <a href="https://unh-bootcamp-projects.github.io/project-1-group-c/" target="_blank"><p class='style'>GITHUB REPOSITORY</p></a>
            </div>
        </div>
        

   


        <div className="card">
            <img id='projects' src={tech} alt="tech blog/mvc" />
            <p><strong>TECH BLOG/MVC</strong></p>
            <div className="container">
                <a href="https://github.com/efagioli01/Tech-Blog" target="_blank"><p class='style'>GITHUB REPOSITORY</p></a>
            </div>
        </div>


    </div> */